@import "_resets";
@import "_base";
@import "_header";
@import "_form";
@import "_footer";
@import "~bootstrap/scss/bootstrap";
// html, body {
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//  }
//  body {
//      background-color: ghostwhite;
//  }
.enter-url-header {
    text-align: center;
}
.url-label {
    text-align: center;
}
.input-field {
    padding-left: 10px;
}
.btn-submit{
    display: block;
    margin: auto;
}
.hide-spinner {
    visibility: hidden;
}
.input-field {
    border: 1px solid rgba(0,0,0,0.3);
}